<div class="button" id="new_note_btn">New Note</div>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
	<% index = 0 %>
	<% @posts.each do |post| %>
	  <% index = index + 1 %>
	  <div class="<%="box col"+index.to_s %>">
	  	<p class="to_field">To: <b><%= post.invitation.recipient_name %></b></p>
	    <p class="post_content"><b>"</b><%= post.content %><b>"</b></p>
	    <p class="signature_field"><i>- <%= post.signature %></i></p>
	  </div>
	  <% index = 0 if index == 3 %>
	<% end %>
</div>

<div id="new_note_dialog">
	<%= render 'posts/form' %>
</div>

<%= link_to 'New Post', new_post_path %>