<p id="notice"><%= notice %></p>

<p>
  <b>"<%= @post.content %>"</b>
</p>

<h4>Comments</h4>

  <% @post.comments.each do |comment| %>
    <p>
      <b>Comment:</b>
      <%= comment.content %>
    </p>
  <% end %>

<h4>Add a comment:</h4>
<%= form_for @comment do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <%= f.hidden_field :post_id, :value => "#{@post.id}" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
